
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    color: #e2e8f0;
    background-color: #0f172a;
   margin: 5vh 5vw 0vw 5vw;
    padding: 5vh 5vw 0vw 5vw;
}

section {
    background-color: #1e293b;
    border-radius: 8px;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #334155;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 1rem;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid #334155;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}
td{
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #334155;
}


th {
    padding: 15px;
    font-weight: bold;
    text-align: center;
    background-color: #6366f1;
    color: white;
}
h2,h3{
    color: #a5b4fc;
}
p{
    color: #e2e8f0;;
}

button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #6366f1;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 20px;
    right: 20px;
}

button :hover {
    background-color: #4f46e5;
}


body.light-mode {
    color: #0f172a;
    background-color: #e2e8f0;
}

.light-mode section {
    background-color: #f8fafc;
    border: 1px solid #cbd5e1;
}

.light-mode table {
    border: 1px solid #cbd5e1;
}

.light-mode th {
    background-color: #6366f1;
    color: white;
}

.light-mode td {
    border-bottom: 1px solid #cbd5e1;
}

.light-mode h2, .light-mode h3 {
    color: #4c51bf;
}

.light-mode p {
    color: #0f172a;
}